.aboutme {
  padding: 50px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutme__title {
  font-size: 2.5em;
  color: #333;
  background-color: white;
  padding: 3%;
  border-radius: 50% 50% 0 0;
}

.aboutme__card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 80%;
  max-width: 900px;
}

.aboutme__name {
  font-size: 2em;
  color: #222;
  margin-bottom: 15px;
}

.aboutme__contact p {
  margin: 5px 0;
  font-size: 1.1em;
}

.aboutme__contact .icon {
  margin-right: 10px;
  color: #555;
}

.aboutme__objective,
.aboutme__skills,
.aboutme__education,
.aboutme__projects {
  margin: 20px 0;
  font-size: 1.2em;
  line-height: 1.6em;
}

.aboutme__experience {
  margin: 20px 0;
  font-size: 1.2em;
}

.aboutme__experience div {
  margin-bottom: 15px;
}

.aboutme__experience ul {
  margin: 10px 0;
  padding-left: 20px;
}

.aboutme__links p {
  margin: 10px 0;
  font-size: 1.2em;
}

.aboutme__links .icon {
  margin-right: 10px;
  color: #555;
}
.aboutme__card img {
  width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width: 960px) {
  .aboutme__card {
    width: 100%;
  }

  .aboutme__title {
    font-size: 2em;
  }

  .aboutme__name {
    font-size: 1.8em;
  }

  .aboutme__contact p,
  .aboutme__objective,
  .aboutme__skills,
  .aboutme__education,
  .aboutme__projects,
  .aboutme__experience,
  .aboutme__links p {
    font-size: 1em;
  }
  .AboutMeShort h2 {
    font-size: 2em;
    margin: 0%;
  }
}
