/* ContactStyle.css */
.contact {
  text-align: center;
  font-size: 20px;
}

.contact__title {
  font-size: 50px;
  color: #ffffff;
}
.contact p{
  color: red;
}
.contact-form {
  max-width: 600px;
  margin: 0 auto;
  background-color: transparent;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form__form {
  display: flex;
  flex-direction: column;
  color:white;
}

/* Użyj flexboxa dla .form-group-half, aby układały się obok siebie */
.contact-form__form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Ustaw szerokość na 50% dla .form-group-half */
.contact-form__half {
  width: 46%;
  margin: 0 2% 0 2%;
}

.contact-form__label {
  font-weight: bold;
  font-size: 20px;
}

/* Aktualizacja stylu dla pól tekstowych */
.contact-form__input,
.contact-form__textarea,
.contact-form__button {
  width: 100%;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 5px;
}

.contact-form__textarea {
  height: auto;
}

.contact-form__button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.contact-form__button:hover {
  background-color: #0056b3;
}
