.Documents{
    position: relative; 
    z-index: 2; 
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Documents h1{
    color: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    padding: 2%;
    display: table;
    border-radius: 20px;
}
.imageContainer {

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: contents;
}

.imageContainer img {
    width: 80%;
    border-radius: 20px;
}

.imageContainer p {
    width: 80%;
    color: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    padding: 2%;
    border-radius: 20px;
    margin: 1em 0 1em;
}

@media screen and (max-width: 600px) {
    .imageContainer {
        flex-direction: column;
    }

    .imageContainer img, .imageContainer p {
        width: 100%;
    }
}