/* HomeStyle.css */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@0;1&family=Ysabeau+Office:wght@100&display=swap');

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1em;
}

.fab.fa-js {
  color: #F7DF1E;
}

.fab.fa-react {
  color: #61DAFB;
}

.fab.fa-css3-alt {
  color: #1572B6;
}

.fab.fa-sass {
  color: #CC6699;
}

.article {
  width: 40%;
  margin: 5%;
  padding: 3%;
  position: relative;
  box-sizing: border-box;
  background-color: white;
  box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.5);
  align-self: flex-start;
  border-radius: 30px;
}

.article h1 {
  margin-bottom: 1em;
  color: black;
}

.article p {
  margin-top: 1.5em;
}

.description p {
    margin-top:0em
}

.description {
    max-height:0; /* Start with the content hidden */
    overflow:hidden; /* Hide the content that spills out of the element */
    transition:max-height .4s ease-in-out; /* Animate the max-height property */
}

.description.expanded {
    max-height:100vh; /* When expanded, max-height is a large value */
}

.article .see-more-button,
.article .toggle-button {
    background-color:#1888ff;color:#fff;border:solid transparent;border-width:.3em;cursor:pointer;padding:.5em;text-align:center;text-decoration:none;display:inline-block;font-size:16px;transition-duration:.4s;transition-property:border,background-color;border-radius:.5em
}

.article .see-more-button:hover,
.article .toggle-button:hover {
    background-color:#000;color:#fff;border-color:#1888ff
}

.article .see-more-button {
    margin-left:auto;margin-right:auto;margin-bottom:.5em;margin-top:1em;display:block
}

.article .toggle-button {
    margin-left:auto;margin-right:auto;margin-bottom:.5em;margin-top:1em;display:block
}

.container h2 {
    color:#fff;width:100%;font-size:3em;margin-top:.5em;margin-bottom:.5em;margin-left:auto;margin-right:auto
}

.AboutMeShort h2 {
    color:#fff;text-align:center;font-size:3em;opacity:0;animation-name:fadeIn;animation-duration:.4s;animation-fill-mode:both;animation-delay:.4s;font-family:'Ysabeau Office',sans-serif;margin-top:.5em
}

.AboutMeShort i {
    margin-left:.5em;margin-right:.5em
}

.AboutMeShort {
    display:flex;width:auto;justify-content:center;align-items:center;margin-left:auto;margin-right:auto
}

@keyframes fadeIn {from{opacity:0}to{opacity:1}}

@media screen and (max-width:960px) {.article{flex-basis:auto;width:90%;margin-top:.5em;margin-bottom:.5em;margin-left:auto;margin-right:auto}.article .see-more-button{position:relative;margin-top:.5em}}
