/* ProjectsStyle.css */
.Projects {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.ArticleSection {
  margin: 40px 0;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  padding: 3%;
  border-radius: 2%;
}

.ArticleSection-title {
  font-size: 24px;
  color: rgb(255, 255, 255);
  display: block;
}

.ArticleSection-title span {

  padding: 2%;
  display: inline-block;
  border-radius: 10px;
  margin: 0.5em 0;
}

.ArticleSection-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ArticleSection-description {
  font-size: 16px;
  color: rgb(255, 255, 255);
  max-width: 60%;
  margin-left: 20px;
}

.ArticleSection-description-width {
  max-width: 100%;
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin-left: 20px;
}

.ArticleSection-description span,
.ArticleSection-description-width span{
  padding: 5%;
  display: inline-block;
  border-radius: 10px;
  margin: 0.5em 1em;
}

.ArticleSection-image {
  max-width: 35%;
  max-height: 500px;
  object-fit: contain;
  display: block;
  margin-right: auto;
}

.ArticleSection-image-width {
  max-width: 100%;
  max-height: 500px;
  object-fit: contain;
  display: block;
  margin-right: auto;
  margin: 1em 0 1em 0;
}

.NavigationButtons {
  position: fixed;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 8%;
}

.NavigationButtons button {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}

.ArticleSection .see-more-button {
  background-color: #1888ff;
  color: #fff;
  border: solid transparent;
  border-width: 0.3em;
  cursor: pointer;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  transition-property: border, background-color;
  border-radius: 0.5em;
}

.ArticleSection .see-more-button:hover {
  background-color: #000;
  color: #fff;
  border-color: #1888ff;
}

.ArticleSection .see-more-button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
  margin-top: 1em;
  display: block;
}

@media screen and (max-width: 960px) {
  .NavigationButtons {
    display: none;
  }

  .ArticleSection-content {
    flex-direction: column;
    align-items: center;
  }

  .ArticleSection-description {
    max-width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  .ArticleSection-description span{
    width: 100%;
    margin: 0%;
  }

  .ArticleSection-description-width span{
    width: 100%;
    margin: 0%;
  }

  .Projects{
    max-width: 100%;
    margin:0%;
  }
  .ArticleSection-image {
    max-width: 100%;
    margin: 2% 0 2% 0;
  }
}
