/* Ogólne stylizacje */
.slider-box {
  width: 84%;
  margin: auto;
}

.slick-slide > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-image {
  max-width: 100%;
  max-height: 500px;
  object-fit: contain;
  display: block;
  margin: auto;
}

/* Stylizacje strzałek */
.custom-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}


.arrow-icon {
  font-size: 24px;
  color: white;
  transition: transform 0.3s ease;
}

.custom-arrow:hover .arrow-icon {
  transform: scale(1.1);
}

/* Pozycjonowanie strzałek */
.next-arrow {
  right: -15%;
  left: auto;
  background-color: rgb(48, 48, 48) !important;
}

.prev-arrow {
  left: -15%;
  right: auto;
  background-color: rgb(48, 48, 48) !important;
}



/* Stylizacje kropek nawigacyjnych */
.slick-dots li button:before {
  font-size: 12px;
  color: #fff;
  opacity: 0.75;
}

.slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 1;
}

/* Responsywność */
@media screen and (max-width: 960px) {
  .custom-arrow {
    display: none !important;
  }
}
