/* PhotoSlider.css */
.slider-box {
  width: 84%;
  margin: auto;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
  position: relative;
  width: 100%;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
}

.slick-next {
  right: auto;
  left: -47px;
}

.slick-prev {
  left: auto;
  right: -47px;
}

.slick-next,
.slick-prev {
  background-color: black !important;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  transform: rotate(180deg);
  width: 40px;
  height: 40px;
}

.slick-next:before,
.slick-prev:before {
  font-size: 45px !important;
  opacity: 0.90;
}

.slick-dots {
  transform: rotate(180deg);
}

@media screen and (max-width: 960px) {
  .slick-next,
  .slick-prev {
      display: none !important;
  }
}

.slick-slide > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* This will make the image scale while maintaining its aspect ratio */
}

.dots {
  position: absolute;
  bottom: 25px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0.5em;
}

.active-dot {
  background-color: #717171;
}
